.formview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.formwrapper{
    width: 40%;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-form{
    width:100%;
    border-radius: 2rem;
    padding: .5rem 0;
}

.form-input{
    border-radius: 2rem;
    padding: .7rem 1.5rem;
}

